In [53]:
import pandas as pd
import numpy as np
import sqlalchemy as sa
import os, sys; sys.path.append('../edgar')
from xbrl_parser import getCIK
from tqdm import tqdm_notebook
import tools

In [22]:
tickers_cik = pd.read_csv('tickers_cik.csv')

ciks = tuple(tickers_cik.CIK.dropna().astype(int).astype(str).unique())

In [2]:
con = sa.create_engine('sqlite:///edgar_htm_idx.db').connect()

tickers_dates = pd.read_sql('''
select distinct date, conm, cik from idx where cik in {}
'''.format(ciks), con)

In [46]:
tickers_dates.cik = tickers_dates.cik.astype(float)

tickers_dates = tickers_dates.merge(tickers_cik[['CIK','Symbol']], left_on='cik', right_on='CIK').drop('CIK', 1)

# tickers_dates.to_csv('tickers_dates.csv', index=False)

In [54]:
df_prices = tools.get_prices(2200)

In [55]:
df_prices.head()

,PSX,HSIC,LABL,ENOC,PHMD,NAT,IFT,SYNT,AMBC,VLGEA,...,CCO,CIE,PGTI,DCO,HIIQ,IGT,EBIO,CMCSA,GLUU,ATMI
2009-07-07 00:00:00+00:00,NaN,22.560,12.096,19.07,30.0,15.405,NaN,9.522,NaN,20.679,...,1.397,NaN,1.51,17.160,NaN,11.240,NaN,5.727,1.02,15.50
2009-07-08 00:00:00+00:00,NaN,22.285,11.776,18.09,30.0,15.078,NaN,9.404,NaN,20.499,...,1.271,NaN,1.62,17.023,NaN,11.280,NaN,5.813,0.94,15.11
2009-07-09 00:00:00+00:00,NaN,22.110,11.371,18.08,29.1,15.244,NaN,9.304,NaN,20.858,...,1.415,NaN,1.59,16.741,NaN,11.595,NaN,5.766,0.99,15.41
2009-07-10 00:00:00+00:00,NaN,22.155,11.701,18.68,30.0,15.375,NaN,9.571,NaN,20.808,...,1.486,NaN,1.73,17.480,NaN,11.837,NaN,5.710,0.95,15.77
2009-07-13 00:00:00+00:00,NaN,22.415,12.237,19.07,27.0,15.365,NaN,9.649,NaN,21.168,...,1.532,NaN,1.70,17.675,NaN,11.974,NaN,5.822,0.96,16.41